:root {
  /* Typo */
  --font-size:20px;
  --text-align:center;

  /* Spacing */
  --padding20: 20px;
  --margin30: 30px;

  /* colors */
  --primary-color:darkblue;
  --second-color: goldenrod;
  --accent-color:rgb(17,43,189);
  --background-color: whitesmoke;
  --text-color:whitesmoke;
  --footer-color:red;

}

nav{
  background-color: var(--primary-color);
  padding: 10px; 
}

nav a {
  color: var(--text-color);
  display: block;
  padding: var(--padding20);        
}

h1 {
  color: var(--primary-color);  
}

main img {
  margin: 0 0 10px 15px;
  width: 150px;
  height: auto;
  border: 1px solid var(--accent-color);
  padding: 2px;
  box-shadow: 0 0 var(--margin30) gray;  
}

p { 
  padding: 0;
}

main { 
  max-width: 900px;
  margin: var(--margin30);
  border: 5px solid var(--background-color);
  padding: var(--padding20);
  background-color: var(--second-color);
  color: var(--text-color);
  text-align: var(--text-align);
  font-size: var(--font-size); 
}

aside {
  max-width: 900px;
  margin: var(--margin30);
  border: 5px solid var(--background-color);
  padding: var(--padding20);
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: var(--text-align);
  font-size: var(--font-size); 
}

aside img{
  max-width: 200px;
  height: auto;

}

footer {
  width: 980px;
  margin-top: 15px;
  border-top: 1px solid black;
  background-color: var(--footer-color);
  text-align: var(--text-align);
  font-size: var(--font-size); 
}