* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typo */
  --font-size:20px;
  --text-align:center;

  /* Spacing */
  --padding20: 20px;
  --margin30: 30px;

   /* colors */
   --primary-color:darkblue;
   --second-color: goldenrod;
   --accent-color:rgb(17,43,189);
   --background-color: whitesmoke;
   --text-color:whitesmoke;
   --footer-color:red;
 }
 
 nav{
   background-color: var(--primary-color);
   padding: 10px; 
 }
 
 nav a {
   color: var(--text-color);
   display: block;
   padding: var(--padding20); 
   text-decoration: none;
   display: inline-block;
    
 }   

h1 {
  color: var(--primary-color);
  margin: var(--margin30);     
}

main img {
  float: right;
  display: block;
  margin:10px auto;
  max-width: 100%;
  border: 1px solid var(--accent-color);
  padding: 2px;
  box-shadow: 0 0 var(--margin30) gray; 
      
}

p { 
  padding: 0;
}

main { 
  max-width: 900px;
  margin: var(--margin30);
  border: 5px solid var(--background-color);
  padding: var(--padding20);
  background-color: var(--second-color);
  color: var(--text-color);
  text-align: var(--text-align);
  font-size: var(--font-size); 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: var(--margin30);
  color: var(--text-color);
  
}

ul li a {
  padding-left: var(--padding20);
  margin: 20px;
  color: var(--text-color);
  list-style-type: none;

}

aside {
  position: relative;
  max-width: 900px;
  height: auto;
  font-size: var(--font-size); 
}

aside img{
  max-width: 200px;
  height: auto;
  margin: var(--margin30);

}
aside h2 {
  position: absolute;
  top: 47px;
  left: 387px;
  color: var(--primary-color);
}

footer {
  width: 100%;
  max-width: 980px;
  margin-top: 15px auto;
  border-top: 1px solid black;
  background-color: var(--footer-color);
  text-align: var(--text-align);
  font-size: var(--font-size); 
}

/* class selectors */

.box{
  margin: var(--margin30);
  border: 1px solid var(--background-color);
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: var(--text-align);
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color);
  padding: 10px 20px;
}

.logo-container{
  flex-shrink: 0;
}

.logo{
  width: 60px;
  height: auto;
  border-radius: 5px;
}

.nav{
  flex-grow: 1;
  text-align: right;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;

}

.nav-list li a {
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
  list-style-type: none;
}

.nav-list li a:hover {
  background-color: #ccc;
  color: #000;
  list-style-type: none;
}

.hero {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.hero img {
  flex: 1 1 auto;
  max-width: 300px;
  height: auto;
}